body{
    font-family: 'Indie Flower', cursive;
    background-color: #0f0f0f;
    color: #0f0f0f;
}
.bgvid {
    position: fixed;
    opacity: 1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#homePage {
    position: fixed;
    top: 50%;
    left: 20%;
    /* bring your own prefixes */
    transform: translate(-12.5%, -50%);
}
#search, #submit{
    height: 50px;
    font-size: 20px;
}
#submit{
    margin:0;
}

.titleSearch {
    font-size: 500%;
}

.meteo {
    margin: 10px 0;
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    color: white;
}
.map{
    width: 100%;
    /*height: 69vh;*/
    /*min-height: 100%;*/
    padding: 0px 5px;
    opacity: 0.4;
    border-radius: 10px !important;
}
.map:hover{
    opacity: 1;
}
.music{
    border-radius: 10px;
    /*height: 37vh;*/
    min-height: 100%;
    width: 95%;
    margin: 0 5px;
}
.tuile h1{
    margin: 0 !important;
}
.tuile p{
    font-size: 15px;
}
.tuile{
    padding: 15px;
    min-height: 30vh !important;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    line-height: 1.1;
    margin: auto;
}
.liLeft{
    margin-left: auto;
    position: relative;
}
.hover{
    padding: 10px;
}
.hover:hover {
    cursor: pointer;
    -ms-transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
    transition-duration: 1000ms;
}
.iconTop{
    font-size: 80px;
    margin-top: 5px;
}
.iconSide{
    font-size: 50px;
    margin-right: 20px;
}
li {
    list-style: none;
}
.wrapCol{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#returnLink{
    /*text-decoration: none;*/
    color:black;
    /*margin: 10px 0;*/
}
.checkbox{
    font-size: 15px;
}
.darkskyLink{
    margin-top: 0 !important;
    font-size: 10px;
    text-decoration: none;
    color: white;
}
.darkskyLink:hover{
    color: whitesmoke;
    border-bottom: 1px solid inherit;
}

.newForm{
    margin: auto;
    width: 100%;
}
#newSearch, #newSubmit{
    height: 50px;
    font-size: 20px;
}
#newSubmit{
    margin:0;
}
/* ########################### Média Queries ########################### */

/* Pager?! WTF!! */
@media only screen and (min-width : 0px) and (max-width: 319px) {
    .formulaire {
        margin-top: 150px;
    }

    .titleSearch {
        font-size: 200%;
    }
}
/* Telephone */
@media only screen and (min-width : 320px) and (max-width: 479px) {
    /*.formulaire{*/
        /*margin-top: 180px;*/
    /*}*/
    .titleSearch{
        font-size: 250%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width: 767px){
    /*.formulaire{*/
        /*margin-top: 250px;*/
    /*}*/
    .titleSearch{
        font-size: 350%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    /*.formulaire{*/
         /*margin-top: 350px;*/
     /*}*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}